html, body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #4a2f1d; 
    width: 100%;
    height: 100%;
}

.page-container {
    background-color: #492E20;
    min-height: 100vh;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.logo img {
    width: 55px;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #EDE8E1;
    font-size: 1rem;
    padding: 8px 15px;
    border-radius: 20px;
    transition: 0.3s;
}

.navbar nav ul li.active-item a {
    background-color: #EDE8E1;
    color: #333;
}

.navbar nav ul li a:hover {
    background-color: rgba(237, 232, 225, 0.7);
    color: #492E20;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.left-area {
    position: relative;
    width: 55%;
}

.title h1 {
    font-size: 120px;
    margin: 0;
    line-height: 100px;
    color: #e6d1b3;
}

.title span {
    color: black;
}

.cup {
    position: absolute;
}

.cup-1 {
    width: 300px;
    left: 60px;
    top: 330px;
}

.cup-2 {
    width: 240px;
    left: 330px;
    top: 440px;
}

.cup-3 {
    width: 150px;
    left: 620px;
    top: 390px;
}

.beans {
    position: absolute;
    width: 260px;
    left: 370px;
    top: 60px;
}

.contact-right {
    width: 40%;
    background: #f3f3f3;
    padding: 30px;
    border-radius: 16px;
    color: #333;
    position: relative;
}

.contact-form .row {
    display: flex;
    gap: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.field label {
    font-size: 14px;
    margin-bottom: 5px;
}

.field input,
.field textarea {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 6px;
    background: #fff;
}

.field textarea {
    resize: none;
    height: 90px;
}

.submit-btn {
    padding: 10px 25px;
    background: #4b2d1f;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.submit-btn:hover {
    background: #362016;
}

.contact-socials {
    margin-top: 20px;
}

.icon {
    width: 18px;
    margin-right: 8px;
    vertical-align: middle;
}

.bean {
    width: 200px;
    position: absolute;
    bottom: -50px;
    right: -40px;
}
