* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", serif;
}

body {
    background: #2b1a13; /* Deep coffee color */
    color: #fff;
}

/* HEADER AREA */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}

.logo img {
    height: 55px;
}

nav a {
    margin-left: 28px;
    text-decoration: none;
    background: #eee;
    padding: 10px 28px;
    border-radius: 25px;
    color: #000;
    font-weight: bold;
}

nav a.active {
    background: #5d3a2c;
    color: #fff;
}

/* MENU SECTION */
.menu-section {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px;
}

.menu-card {
    width: 250px;
    background: #f0e6dd;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    transition: 0.35s ease;
    cursor: pointer;
    position: relative;
}

.menu-card img {
    width: 100%;
    transition: 0.4s ease;
    transform-origin: center;
}

.menu-card:hover {
    transform: scale(1.08);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.35);
}

.menu-card:hover img {
    transform: scale(1.12);
}

.menu-card h3 {
    background: #d6c9bd;
    display: inline-block;
    margin-top: 15px;
    padding: 12px 22px;
    border-radius: 12px;
    color: #3b2b25;
    font-size: 17px;
    font-weight: bold;
}
